.movies-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.toggle-page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.toggle-page button {
  margin: 10px;
}
